Checks: >
  *,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -android-*,
  -abseil-*,
  -modernize-use-trailing-return-type,
  -llvm-header-guard,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -hicpp-no-assembler,
  -hicpp-signed-bitwise,
  -bugprone-easily-swappable-parameters,
  -misc-non-private-member-variables-in-classes,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file